importFrom(glmnet, glmnet)
importFrom(lars,lars)
importFrom(Matrix, Matrix,cBind)
export(FindIt, summary.FindIt, predict.FindIt, plot.PredictFindIt, maketwoway, makeallway)

S3method(summary, FindIt)
S3method(predict, FindIt)
S3method(plot, PredictFindIt)
